
        <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand">PolwinnoProject</h3>
              <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link" href="/">فرم شناسه ثابت</a>
                  <a class="nav-link" href="/charity_account">حساب های خیریه</a>
                  <a class="nav-link" href="/">اشخاص</a>
              </nav>
            </div>
          </header>