
    <!-- <h2 class="searchTitle">جستجو بر اساس کد یا عنوان شناسه</h2> -->
    <div class="input-group search ">
        <form class="form-outline" method="POST" action="/search/"> 
            <div class="row">
                <input type="text" name="code"  class="form-control col-md-4"  placeholder="کد شناسه را وارد کنید  "/>
                <input type="text" name="title" class="form-control col-md-8"  placeholder="عنوان شناسه را وارد کنید  "/>
            </div>
                <button type="submit" class="btn btn-outline-primary w-25" >
                جستجو 
            </button>
        </form>
    </div>
